
@{
    ViewBag.Title = "Index";
}
<section ng-app="creditApp">
    <div class="row">
        <div class="col-md-12">
            <credit-list></credit-list>
        </div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/credit-check.component.js"></script>
</section>
